/**
Contiene el style de la barra de menus de las interfaces de master
**/
body 
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.5em;


.nav-item
	color: #000000;
	padding 5px;
	float: right;
	
.nav-link
	color: #000000; //Cambiar el colo de la letra
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	background: transparent;
	
.badge:hover //caambiar de color a la etiqueta cuando se posicionare  el cursor sobre ella
	background: #5E210E;
	color: white;
	


.card-footer
	background:#20AB88;
	color:white;

.hr_menu
	border: 0; 
	height: 2px; 
	text-align: center; 
	background: #000000;
	margin-top: 0px;
	float: right;
	width:50%;
	
.main-content
	margin-top: 10px;
	

.pagina
	padding-top 16px
	padding-bottom 16px
	margin-top 3px;
	.breadcrumb
		background-color #fff
		box-shadow 0 0.5rem 1rem rgba(0, 0, 0, 0.10) !important
		.breadcrumb-item
			a
				color #44a28b
				&:hover
					text-decoration none !important
	// Estilos para el contenedor de contenido de la interfaz
	.panel
		background-color #fff
		width 100%
		.encabezado
			border-bottom 1px solid #e8e8e8
			h3.title
				display inline-block
				padding 12px 16px
		.cuerpo_contenedor
			padding 16px
				
