body
	font-size 14px
	font-family: 'Roboto', sans-serif;
/**
Interfaz de detalle producto
**/
.cuerpoc
	width:50%;
	background-color: #e9e8e8;
	padding: 5px;
	box-shadow: 2px 2px 5px #999;
.carrito 
	width:10%;
	background: white;
	float:right;
.fas {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.carrito i
	font-size: 30px;
	text-align: center;
.comentarios
	width:100%;
	background-color: #e9e8e8;
	box-shadow: 2px 2px 5px #999;
	
.contenidoComentarios
	width:100%;
	background-color: #f7f6f6;
	padding: 5px;
	box-shadow: 2px 2px 5px #999;	



/**
Diseño interfaz "confirmación compra"
**/
.container11 
	width: 100%;
	height: 300px;
	padding-top 5%
	margin-bottom 5%

.text11
	color: #33A67C;
	margin: 0 auto;
	font-weight: 700;
	font: normal 60px calibri;
	margin-bottom 5%
	
/**
Cambiar el Style de los botones
**/
.btn-primary
	color: #fff;
	background-color: #3BB38D;
	border-color: #3BB38D;

.btn-primary:hover
	background-color: #A9D9C7;
	border-color: #A9D9C7;
	color: #33A67C;
	
			
